.form-signin {
	width: 100%;
	max-width: 450px;
	padding: 15px;
	margin: auto;
}
.card.profile-info {
	width: 760px;
	margin: auto;
}
.card.profile-info img {
	height: 300px;
	width: 300px;
	object-fit: contain;
	box-shadow: 0 0 3px 0 #ccc;
}
